@charset "UTF-8";
// @import "../mixin";

$nav-fontSize: 18px;
$nav-iconfontSize: 16px;
$nav-iconSize: 16px;
.msz-nav {
    width: 100%;
    background: #fff;
    text-align: center;
    height: 1.12rem;
    line-height: 1.12rem;
    h2 {
        font-size: $nav-fontSize;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word;
        white-space: nowrap;
        padding: 0 1rem;
        a {
            color: #333333;
        }
    }
    .nav-left {
        position: absolute;
        left: 0.4rem;
        top: 0;
        color: #666;
        font-size: $nav-iconfontSize;
    }

    .nav-right {
        font-size: $nav-iconSize;
        position: absolute;
        top: 0;
        right: 0.4rem;
        color: #666;
    }
    .nav-right>a {
        background-repeat: no-repeat;
        background-size: 0.48rem;
        display: inline-block;
        width: 0.50rem;
        height: 0.50rem;
        vertical-align: top;
    }
}
[data-dpr="2"] .msz-nav {
    h2 {
        font-size: $nav-fontSize*2;
    }

    .nav-left {
        font-size: $nav-iconfontSize*2;
    }
    .nav-right {
        font-size: $nav-iconSize*2;
    }
}
[data-dpr="3"] .msz-nav {
    h2 {
        font-size: $nav-fontSize*3;
    }
    .nav-left {
        font-size: $nav-iconfontSize*2;
    }
    .nav-right {
        font-size: $nav-iconSize*2;
    }
}
